    <div class="container">
      <h1>Mongo Scraper</h1>
      <h2>A scraper using mongoose and cheerio.</h2>

      <a href="/scrape"><button class="btn btn-outline-primary">Scrape new articles</button></a>
      <br>
      <br>

      <div id="articles">

    {{#each data}}
    <div class="card">
      <div class="card-body">
        <a href={{link}} class="card-title"><h3>{{title}}</h3></a>
        <p class="card-text">{{summary}}</p>
        <button data-id={{_id}} class="btn btn-primary viewComments float-right">Comments</button>
        <div class="commentArea hide"></div>

      </div>

    </div>
  
   {{/each}}
 
  
    </div>

    <script>


$(document).on("click", ".viewComments", function () {

    var thisId = $(this).attr("data-id");
   
    var commentArea = $(this).closest(".card-body").find(".commentArea");


    if (!commentArea.hasClass("hide")) {
        commentArea.addClass("hide");
        commentArea.empty();

        return;
    } else {
        commentArea.removeClass("hide");

        callOneArticle(thisId, commentArea);
    }
});

function callOneArticle(thisId, commentArea) {
    commentArea.empty();
    $.ajax({
            method: "GET",
            url: "/articles/" + thisId
        })

        .then(function (data) {
          console.log(data);
          console.log(data.comm);
    

            if (data.comm.length) {
                data.comm.forEach(item =>{
                    commentArea.append("<h5>" + item.title + "</h5>")
                    .append("<p>" + item.body + "</p>");
                });
            } 

            var form = $("<form>");
            var titleInput = $("<div>")
                .addClass("form-group")
                .append("<input type='text' class='form-control' id='titleinput' placeholder='Title'>");
            var bodyInput = $("<div>")
                .addClass("form-group")
                .append("<textarea class='form-control' id='bodyinput' rows='3'></textarea>");

            var saveBtn = $("<button>")
                .addClass("btn btn-secondary")
                .attr("id", "savenote")
                .attr("data-id", data._id)
                .text("Save");
            form.append(titleInput, bodyInput);
            commentArea.append(form, saveBtn);

        });
}


// When you click the savenote button
$(document).on("click", "#savenote", function () {
    // Grab the id associated with the article from the submit button
    var thisId = $(this).attr("data-id");
    var commentArea = $(this).closest(".card-body").find(".commentArea");
    console.log("id of clicked button: " + thisId);

    // Run a POST request to change the note, using what's entered in the inputs
    $.ajax({
            method: "POST",
            url: "/articles/" + thisId,
            data: {
                // Value taken from title input
                title: $("#titleinput").val().trim(),
                // Value taken from note textarea
                body: $("#bodyinput").val().trim()
            }
        })
        // With that done
        .then(function (data) {
            // Log the response
            console.log(JSON.stringify(data) + " this is the response from the post request");

        }).then(function() {
          callOneArticle(thisId, commentArea)
          });
});
    </script>